.drop {
	padding-top: 0.75em;
}

sup {
	color: var(--danger);
	font-weight: 500;
}

.note sup {
	color: var(--teal);
	font-weight: 500;
}

.drop p {
	padding: 0;
	margin: 0;
}

.vewable > div {
	color: var(--primary);
}

.root {
	color: black !important;
	font-weight: bold !important;
	padding: 0.75em 10% 0.75em 10% !important;
}

.quote {
	color: #887334;
	padding: 0.75em 10% 0.75em 10%;
	font-weight: 500;
}

.verse {
	color: #887334;
	padding-top:0.75em;
	padding-bottom:0.75em;

	margin-left:calc(20% - 0.75em);
	text-indent:-10%;
	font-weight: 500;
}

.note {
	color: var(--gray);
	font-size: small;
	/* padding: 0.5em 0em 0.5em 0em; */
}

.note:first-child {
	padding-top: 0.5em;
}

.note:last-child {
	padding-bottom: 0.5em;
}

/* // --- // */

.root > .quote:first-child {
	margin-top: 0;
	padding-top: 0;
}

.root > .quote:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.root > .verse:first-child {
	margin-top: 0;
	padding-top: 0;
}

.root > .verse:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

/* // --- // */

.quote > .quote:first-child {
	margin-top: 0;
	padding-top: 0;
}

.quote > .quote:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.quote > .verse:first-child {
	margin-top: 0;
	padding-top: 0;
}

.quote > .verse:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.root.verse {
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-left: calc(10% - 1.5em);
}

/* // --- // */

.note > .quote:first-child {
	margin-top: 0;
	padding-top: 0;
}

.note > .quote:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.note > .verse:first-child {
	margin-top: 0;
	padding-top: 0;
}

.note > .verse:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

